:root {
    --white-primary: #ffff;
    --black-primary: #000;
    --blue-primary: #3E86F5;
    --black-75: #7c7c7c;
}

/* ------------- fonts ------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


.text-white {
    color: var(--white-primary);
}

.text-black75 {
    color: var(--black-75);
}

/* ------------- fonts-end ------------- */


/* ======================================================== uncategorized ======================================================== */

* {
    margin: 0;
    padding: 0;
    /* border: solid var(--blue-primary) 1px; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}


a {
    text-decoration: none;
    color: var(--white-primary);
}

/* strong{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: var(--black-primary);

} */

section {
    height: 1015px;
}

.container {
    margin: auto 130px auto 130px;
    /* top | right | bottom | left */

}



body {
    background: #F7F7F7;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-primary {
    background-color: var(--white-primary);
}

.bg-blue {
    background-color: var(--blue-primary);
}

button {
    border: none;
}

h1 {
    text-align: center;
}

/* ======================================================== uncategorized ======================================================== */

/* ------------- navbar ------------- */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 545;
    font-size: 1.5em;
    align-items: center;
    height: 80px;
    position: relative;
    z-index: 2;

}

nav li {
    display: inline;
    margin-left: 20px;
    /* list-style: none; */
}

/* ------------- navbar-end ------------- */




/* ------------- hero ------------- */
.hero {
    height: 130vh;
    overflow: hidden;
    margin-top: -80px;

}

.hero-brand h1 {
    font-size: 64px;

}

.hero-brand p {
    font-size: 1em;
}

.hero-brand {
    text-align: center;
}

.swiper-slide {
    background-size: cover;


}

/* ------------- hero-end ------------- */

/* ------------- button-bar ------------- */

.button-bar {
    height: 374px;
    margin-top: -160px;
    z-index: 3;
    position: relative;
    margin-bottom: 160px;
}

.button-panel {
    height: 274px;
    border-radius: 0px 50px 50px 50px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 60px;
    box-sizing: border-box;

}

.main-bar-link {
    height: 66px;
    width: 121px;

}

.button-bar a:hover {
    background: #3E86F533;
    border-radius: 25px;
}

.panel-box {
    border: 2px solid rgba(172, 172, 172, 0.5);
    border-radius: 25px;
    height: 154px;
    width: 381px;
    /* display: flex;
    flex-direction: row; */
    margin-right: 30px;
    /* box-sizing: border-box; */
}

.panel-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px dashed var(--black-75);

}


.main-bar {
    height: 100px;
    width: 279px;
    border-radius: 25px 25px 0px 0px;
}



.search-box {
    height: 154px;
    width: 154px;
    border-radius: 65px;
}

/* ------------- button-bar-end ------------- */

/* ------------- offer-bar ------------- */

/* .offers{
    margin-top: 180px;
    margin-bottom: 160px;
} */
.offer-card {
    width: 380px;
    height: 457px;
    background-color: var(--white-primary);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
    display: grid;
    border-radius: 50px;
    padding: 35px;
    margin: 20px;
    grid-template-rows: 286px 10px 89px;
    grid-template-areas:
        "row-1"
        "."
        "row-2";
    box-sizing: border-box;

}

.row-1 {
    display: grid;
    grid-area: row-1;
    width: 323px;
    grid-template-columns: 293px 1fr;
    grid-template-areas: "foto txt";
    align-items: center;
}

.row-2 {
    display: grid;
    grid-area: row-2;
    width: 323px;
    grid-template-columns: 1fr 107px;
    grid-template-areas: "col-1 col-2";
}

.col-1 {
    grid-area: col-1;
}

.col-2 {
    display: flex;
    align-items: flex-end;
    grid-area: col-2;
}

.offer-img {
    width: 293px;
    height: 273px;
    border-radius: 50px;
    background-size: cover;
    grid-area: foto;

}

.offer-side-text {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.4em;
    grid-area: txt;

    color: var(--black-75);
    writing-mode: vertical-rl;
}

.offer-type {

    width: 108px;
    height: 21px;
    background-color: #FCDDEC;
    border-radius: 100px;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #F178B6;
    text-align: center;

}

.offer-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

}

.offer-price {

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--black-75);
    margin-bottom: 10px;

}

.offer-button {
    width: 100px;
    height: 46px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--black-75);
    background-color: var(--white-primary);

}

.offer-button:hover {
    background-color: var(--blue-primary);
    color: var(--white-primary);
}

.offer-button-bar {
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
    background-color: var(--white-primary);
    padding: 10px;
    margin: 60px auto 40px auto;
    /* top | right | bottom | left */
    width: 340px;
    height: 66px;

}

.offer-header {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.continue-btn {
    width: 107px;
    height: 47px;
    border-radius: 10px;
    background-color: #F2F6FF;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #3E86F5;
    cursor: pointer;



}

.continue-btn:hover {
    background-color: #3E86F5;
    color: #F2F6FF;
}

/* ------------- offer-bar-end ------------- */

/* ------------- contact ------------- */

/* .contact{
    margin-top: 160px;
} */

.contact-banner {
    width: 480px;
    height: 800px;
    border-radius: 75px;
    background-position: center;
    background-size: cover;
    grid-area: banner;
    position: relative;
}

.population {
    height: 120px;
    width: 180px;
    background-color: var(--white-primary);
    border-radius: 35px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.population b {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: var(--blue-primary);
    display: block;
}


.population-1 {
    position: absolute;
    top: 55px;
    left: 385px;

}

.population-2 {
    position: absolute;
    top: 376px;
    left: -90px;

}

.population-3 {
    position: absolute;
    top: 537px;
    left: 385px;
}

.contact-main {
    grid-area: desc;
}

.contact {
    display: grid;
    grid-template-columns: 480px 120px 580px;
    grid-template-areas:
        "banner . desc";
}

.contact-header {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-transform: capitalize;
}

.contact-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: var(--black-75);
    list-style: "- ";
}

.contact-button {
    width: 179px;
    height: 75px;
    filter: drop-shadow(4px 8px 25px rgba(62, 134, 245, 0.25));
    color: var(--white-primary);
    font-weight: 400;
    font-size: 20px;
    background-color: var(--blue-primary);
    border-radius: 10px;

}

.contact-button:hover {
    background-color: var(--white-primary);
    color: var(--black-75);
    border: 1px var(--black-75) solid;
}

/* ------------- contact-end ------------- */

/* ------------- testimoni-start ------------- */

.testimoni {
    height: 425px;
}

.testimoni-card {

    background: #FFFFFF;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-areas: "foto . konten";
    box-sizing: border-box;
}

.testimoni-content {
    grid-area: konten;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 50px;
}

.testimoni-time {
    border-radius: 25px;
    background-color: var(--white-primary);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    font-size: 12px;
    font-weight: 500;
    margin: 10px;
    box-sizing: border-box;
}

.testimoni-time span {
    margin-left: 5px;
}

.testimoni-img {
    grid-area: foto;
    height: 400px;
    width: 500px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

.testimoni-header {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.testimoni-location {
    display: flex;
    justify-content: start;
    align-items: center;
}

.testimoni-nav {
    opacity: 0;
}

.testimoni-nav:hover {
    opacity: 1;
}

/* ------------- testimoni-end ------------- */

/* ------------- top-member ------------- */

.member-card-bar {
    overflow: hidden;
    height: 600px;
    padding: 20px 0 20px 0;
    /* top | right | bottom | left */

}

.top-member-card {
    background-color: var(--white-primary);
    border-radius: 25px;
    height: 410px;
    width: 580px;
    box-shadow: -1px 3px 19px 3px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: -1px 3px 19px 3px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -1px 3px 19px 3px rgba(0, 0, 0, 0.29);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 42px;
    padding: 40px;
    box-sizing: border-box;
}

.top-member-button {
    height: 100px;
    width: 190px;
    position: relative;
    top: -140px;
}



.top-member-button .swiper-button-next, .top-member-button .swiper-button-prev{
    height: 100px;
    width: 100px;
    top: 20px;
}



.top-member-button [class^="swiper-button-"]::after {
    content: "" !important;
}

.member-card-bar .swiper-wrapper .swiper-slide {
    left: -2%;
}

.crown-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 355px;
    left: 240px;
}

.top-member-button .member-btn ion-icon {
    border-radius: 15px;
    z-index: 5;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(62, 134, 245, 0.5);
}

.crown-desc {
    text-align: center;
    color: var(--black-primary);
    z-index: 2;
    top: -100px;
    position: relative;
}

.crown-num {
    color: var(--blue-primary);
}

.crown-name {
    color: var(--black-75);
}

.quote {
    z-index: 1;
}

/* ------------- top-member-end ------------- */

/* ------------- register ------------- */
.register {
    height: 500px;
    border-radius: 100px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.register-banner {
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
    width: 100%;
    color: var(--white-primary);
    padding: 0 150px;
    /* top | right | bottom | left */
    box-sizing: border-box;

}

.register-btn {
    color: var(--blue-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
    background-color: var(--white-primary);
    width: 220px;
    border-radius: 25px;
    height: 80px;
    filter: drop-shadow(4px 8px 25px rgba(62, 134, 245, 0.25));
}

.register-btn:hover {
    color: var(--white-primary);
    background-color: var(--blue-primary);
}



/* ------------- register-end ------------- */

/* ------------- footer-start ------------- */

footer {
    display: flex;
    justify-content: space-between;
    color: var(--black-75);
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
}

.footer-menu a {
    color: black;
}

.footer-menu ol li {
    display: inline;
    margin-left: 15px;
}

/* ------------- footer-end ------------- */



/* ================================== MEDIA-QUERY ================================== */
@media screen and (max-width: 767px) {
    .button-panel {
        flex-wrap: wrap;
    }

    .contact {
        display: flex;
        flex-wrap: wrap;

    }

    .container {
        margin: auto 20px auto 20px;
        /* top | right | bottom | left */
    }
}




/* ================================== MEDIA-QUERY-end ================================== */